---
// Experiences management page
export const prerender = false;
import AdminLayout from "../../../layouts/AdminLayout.astro";
import AdminListHeader from "../../../components/admin/layout/AdminListHeader.astro";
import { ExperiencesPage } from "../../../components/admin/pages";
---

<AdminLayout title="Experiences | Career Admin">
  <div class="space-y-6">
    <AdminListHeader
      title="Experiences"
      subtitle="Manage your work history"
      addHref="/admin/experiences/new"
      addLabel="Add Experience"
    />

    <ExperiencesPage client:only="react" />
  </div>
</AdminLayout>
