---
export const prerender = false;
import AdminLayout from "../../../../layouts/AdminLayout.astro";
import AdminPageHeader from "../../../../components/admin/layout/AdminPageHeader.astro";
import { EducationDetailPage } from "../../../../components/admin/pages";

const { id } = Astro.params;
---

<AdminLayout title="Education Details | Career Admin">
  <div class="space-y-6">
    <AdminPageHeader
      title="Education Details"
      subtitle="View education information"
      backHref="/admin/education"
    />

    <EducationDetailPage client:only="react" educationId={id} />
  </div>
</AdminLayout>
