@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Julius+Sans+One&display=swap");

$mobile-breakpoint: 500px;

.resumeBody {
  --color-teal-600: #006c75;
  --color-gray-100: #c8c9ca;
  --color-gray-200: #919394;
  --color-gray-400: #656869;
  --color-gray-700: #232728;
  --color-dark-700: #a5bbbd;

  --font-family-base: sans-serif;
  --font-family-headings: "Josefin Sans", sans-serif;

  margin: 0;
  font-family: var(--font-family-base);
  font-size: 12px;
  color: var(--color-gray-700);
  height: 100%;

  h1,
  h2 {
    font-family: var(--font-family-headings);
    color: var(--color-gray-700);
  }

  h1 {
    font-size: 3.75em;
  }

  h1 span:first-of-type {
    font-weight: lighter;
  }

  h2 {
    font-size: 2em;
    margin: 0 0 0.15em 0;
  }

  h3 {
    font-size: 1.15em;
    font-weight: lighter;
    margin: 0.5em 0 0 0;
    color: var(--color-gray-700);
  }

  h4 {
    margin: 0.5em 0 0 0;
  }

  a {
    color: var(--color-teal-600);
  }

  p {
    margin-bottom: 0.5em;
    line-height: 1.5;
  }

  hr {
    color: var(--color-gray-200);
    &.mediumThickness {
      border: 1px solid;
    }
  }

  section {
    margin: 1em 0;
  }

  .center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-center {
    text-align: center;
  }

  .no-bullets {
    list-style-type: none;
    padding-left: 0;
    ul {
      list-style-type: disc;
    }
  }

  .flex {
    display: flex;
    &.justify-space-between {
      justify-content: space-between;
    }
  }

  .header {
    text-align: center;
  }

  .listHorizontal {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      margin: 0 1em;
    }
  }
  .skills-grid {
    display: grid;
    grid-template-columns: 110px 1fr;
    // width: 85%;
    // margin: 0 auto;
    h3 {
      margin: 0.25em 0 0 0;
    }
  }
  .skills-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    padding: 0;
  }

  .skills-list li {
    padding: 0.35em 0.75em;
    border: solid 1px var(--color-teal-300);
    border-radius: 10px;
    margin: 0.25em;
    height: 2.25em;
  }
}
